* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
  font-family: 'Lora', serif;
}

body {
  background: url("../bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

#calc {
  width: 400px;
  padding: .5em;
  background-color: #4141418f;
  color: #000;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

#calc h3 {
  font-size: .9em;
  font-weight: 500;
  color: rgb(226, 226, 226);
}

#operations {
  text-align: right;
}

#previous-operation, 
#current-operation {
  min-height: 1.6em; /* tamanho minimo para nn aumentar quando digitar */
  padding: .2em;
  overflow-wrap: break-word; /* para quebrar os números quando forem muito grande */
  font-family: 'Lora', serif;
  color: rgb(228, 228, 228);
}

#previous_operation {
  color: rgb(228, 228, 228);
}

#current-operation {
  font-size: 3em;
  font-weight: 400;
  color: rgb(228, 228, 228);
}

#buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
}

#buttons-container button {
  border: 1px solid transparent;
  border-radius: 0;
  height: 4em;
  font-size: 1.2em;
  background-color: #dbdbdb;
  cursor: pointer;
}

#buttons-container .number-red {
  background-color: rgb(255, 138, 138);
}

#buttons-container .number-red:hover {
  background-color: rgb(250, 110, 110);
}

#buttons-container .number-orange {
  background-color: #fca93d;
}

#buttons-container .number-orange:hover {
  background-color: #fc9c20;
}

#buttons-container .number {
  background-color: #f3f3f3;
}

#buttons-container button:hover {
  background-color: #bababa;
  border-color: #999;
}

#buttons-container #equal-btn {
  grid-column: span 2;
  background-color: #75a5cb;
}

#buttons-container #equal-btn:hover {
  background-color: #3a91d8;
}